@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode 
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    */
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-family: var(--font-inter);
  color: black;
  font-size: 58px;
}

h2 {
  font-family: var(--font-inter);
  font-size: 50px;
}

h3 {
  font-family: var(--font-inter);
  font-size: 32px;
}

p {
  font-size: 20px;
  /* font-family: Arial, Helvetica, sans-serif */
}

.force-align-center {
  margin-right: auto;
  margin-left: auto;
}

.tt-button-primary {
  /*color: #ad2831;*/
  color: #000;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: var(--font-nunito-sans);
  font-weight: 700;
  line-height: normal;
  padding-top: 11px;
  padding-left: 28px;
  border-radius: 7.5px;
  padding-right: 28px;
  letter-spacing: 1px;
  padding-bottom: 11px;
  text-transform: capitalize;
  text-decoration: none;
  background-color: #e3b11a;
}

.tt-button-secondary {
  color: #e2ab16;
  outline: 2px solid #e2ab16;
  font-size: 20px;
  font-style: normal;
  transition: ease-in 0.3s;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: normal;
  padding-top: 11px;
  padding-left: 28px;
  border-radius: 7.5px;
  padding-right: 28px;
  letter-spacing: 1;
  outline-offset: -2px;
  padding-bottom: 11px;
  text-transform: capitalize;
  text-decoration: none;
}

.tt-button-rush {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: var(--font-nunito-sans);
  font-weight: 700;
  line-height: normal;
  padding-top: 11px;
  padding-left: 28px;
  border-radius: 7.5px;
  padding-right: 28px;
  letter-spacing: 1px;
  padding-bottom: 11px;
  text-transform: capitalize;
  text-decoration: none;
  background-color: #000000;
}

.aln-center {
  margin-left: auto;
  margin-right: auto;
}

.aln-left {
  margin-left: 0px;
  margin-right: 0px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.logos-slide {
  width: 100%;
  display: inline-block;
  animation: 20s slide infinite linear;
}

.logos-slide * {
  display: inline-block;
  width: 10vw;
  height: 10vh;
  margin: 0 20px;
}
