@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode 
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    */
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-family: var(--font-inter);
  color: black;
  font-size: 58px;
}

h2 {
  font-family: var(--font-inter);
  font-size: 50px;
}

p {
  font-size: 20px;
  /* font-family: Arial, Helvetica, sans-serif */
}

.force-align-center {
  margin-right: auto;
  margin-left: auto;
}

.tt-button-primary {
  /*color: #ad2831;*/
  color: #000;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-family: var(--font-nunito-sans);
  font-weight: 700;
  line-height: normal;
  padding-top: 11px;
  padding-left: 28px;
  border-radius: 7.5px;
  padding-right: 28px;
  letter-spacing: 1px;
  padding-bottom: 11px;
  text-transform: capitalize;
  text-decoration: none;
  background-color: #e3b11a;
}

.tt-button-secondary {
  color: #E2AB16;
  outline: 2px solid #E2AB16;
  font-size: 20px;
  font-style: normal;
  transition: ease-in 0.3s;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: normal;
  padding-top: 11px;
  padding-left: 28px;
  border-radius: 7.5px;
  padding-right: 28px;
  letter-spacing: 1;
  outline-offset: -2px;
  padding-bottom: 11px;
  text-transform: capitalize;
  text-decoration: none;
}